
@{
    ViewData["Title"] = "Roles management";
}
@section Styles{
    <link href="~/lib/jquery-treegrid/css/jquery.treegrid.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/jquery-treegrid/js/jquery.treegrid.js"></script>
    <script src="~/app/controllers/role/index.js"></script>
    <script>
        var roleCtrl = new roleController();
        roleCtrl.initialize();
    </script>
}

<!-- page title -->
<header class="page-title">
    <div class="title_left">
        @*<h3>Product <small>Management </small></h3>*@
        <h3>Users <small>List of roles</small></h3>
    </div>
    <div class="title_right">
        <section role="search">
            <div class="input-group col-lg-8 col-md-6 col-sm-12 pull-right">
                <input type="text" id="txt-keyword" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="btn-search" type="button">Go!</button>
                    <button class="btn btn-success" id="btn-create" type="button">Create</button>
                </span>
            </div>
        </section>
    </div>
</header>
<!-- /page title -->
<div class="clearfix"></div>
<!-- page content -->
<main class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            @*<div class="x_title">
                    <h2>Products<small>List of all products</small></h2>
                    <div class="clearfix"></div>
                </div>*@
            <div class="x_content table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th width="15%">#</th>
                        </tr>
                    </thead>
                    <tbody id="tbl-content"></tbody>
                </table>
            </div>
            <partial name="../Shared/_Pagination.cshtml" />
        </div>
    </div>
</main>
<!-- /page content -->
<div class="clearfix"></div>
<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>{{Name}}</td>
        <td>{{Description}}</td>
        <th scope="row" class="text-center">
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default btn-edit" data-id="{{Id}}"><i class="fa fa-pencil-square-o"></i></button>
                <button type="button" class="btn btn-primary btn-grant" data-id="{{Id}}"><i class="fa fa-key"></i></button>
                <button type="button" class="btn btn-danger btn-delete" data-id="{{Id}}" data-name="{{Name}}"><i class="fa fa-trash-o"></i></button>
            </div>
        </th>
    </tr>
</script>
<partial name="_AddEditModal.cshtml" />
<partial name="_AssignPermission.cshtml" />

