<div id="modal-add-edit" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <header class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add/edit user</h4>
            </header>
            <section class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="form-maintainance-modal">

                        <div class="form-group">
                            <input type="hidden" id="hidden-id-modal" value="" />
                            <label for="txt-full-name-modal" class="col-sm-2 control-label">Full name</label>
                            <div class="col-sm-10">
                                <input type="text" name="txt-full-name-modal" class="form-control" id="txt-full-name-modal">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt-user-name-modal" class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-10">
                                <input type="text" name="txt-user-name-modal" class="form-control" id="txt-user-name-modal" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt-password-modal" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" name="txt-password-modal" class="form-control" id="txt-password-modal" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt-confirm-password-modal" class="col-sm-2 control-label">Confirm password</label>
                            <div class="col-sm-10">
                                <input type="password" name="txt-confirm-password-modal" class="form-control" id="txt-confirm-password-modal">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt-email-modal" class="col-sm-2 control-label ">Email</label>
                            <div class="col-sm-10">
                                <input type="email" name="txt-email-modal" class="form-control" id="txt-email-modal">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt-phone-number-modal" class="col-sm-2 control-label">Mobile phone</label>
                            <div class="col-sm-10">
                                <input type="text" name="txt-phone-number-modal" class="form-control" id="txt-phone-number-modal">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Roles</label>
                            <div class="col-sm-10" id="list-roles">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" id="ck-status-modal">
                                        <span class="text">Active.</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="btn-save" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>