
@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js"></script>
    <script src="~/app/controllers/product/index.js"></script>
    <script>
        var product = new productController();
        product.initialize();
    </script>
}

<!-- page title -->
<header class="page-title">
    <div class="title_left">
        <h3>Products</h3>
    </div>
    <div class="title_right">
        <section role="search">
            <div class="input-group col-lg-3 col-md-4 col-sm-12 pull-left" role="search" aria-label="category">
                <select id="ddl-category-search" class="form-control">
                    <option>-- Select category --</option>
                </select>
            </div>
            <div class="input-group col-lg-5 col-md-4 col-sm-12 pull-left" role="search" aria-label="name and code">
                <input type="text" id="txt-keyword" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="btn-search" type="button">Go!</button>
                </span>
            </div>
            <div class="btn-group col-lg-4 col-md-4 col-sm-12 pull-left" role="group" aria-label="index button">
                <a class="btn btn-default" id="btn-template" href="~/templates/ProductImportTemplate.xlsx">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                </a>
                <button class="btn btn-warning" id="btn-import" type="button">
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                </button>
                <button class="btn btn-info" id="btn-export" type="button">
                    <i class="fa fa-cloud-download" aria-hidden="true"></i>
                </button>
                <button class="btn btn-success" id="btn-create" type="button">Create</button>
            </div>
        </section>
    </div>
</header>
<!-- /page title -->
<div class="clearfix"></div>
<!-- page content -->
<main class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Image</th>
                            <th>Created</th>
                            <th>Status</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody id="tbl-content"></tbody>
                </table>
            </div>
            <partial name="../Shared/_Pagination.cshtml" />
        </div>
    </div>
</main>
<!-- /page content -->
<div class="clearfix"></div>
<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>{{Name}}</td>
        <td>{{CategoryName}}</td>
        <td class="text-right">{{Price}}</td>
        <td class="text-center">{{{Image}}}</td>
        <td>{{CreatedDate}}</td>
        <td class="text-center">{{{Status}}}</td>
        <th scope="row" class="text-center">
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default btn-edit"
                        data-id="{{Id}}" data-date-created="{{CreatedDate}}">
                    <i class="fa fa-pencil-square-o"></i>
                </button>
                <button type="button" class="btn btn-danger btn-delete"
                        data-id="{{Id}}" data-name="{{Name}}">
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
        </th>
    </tr>
</script>
<partial name="_AddEditModal.cshtml" />
<partial name="_ImportExcelModal.cshtml" />