
@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js"></script>
    <script src="~/app/controllers/product/index.js"></script>
    <script>
        var product = new productController();
        product.initialize();
    </script>
}

<!-- page title -->
<header class="page-title">
    <div class="title_left">
        @*<h3>Product <small>Management </small></h3>*@
        <h3>Products <small>List of all products</small></h3>
    </div>
    <div class="title_right">
        <section role="search">
            <div class="input-group col-lg-8 col-md-6 col-sm-12 pull-right">
                <input type="text" id="txtKeyword" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="btnSearch" type="button">Go!</button>
                    <button class="btn btn-success" id="btnCreate" type="button">Create</button>
                </span>
            </div>
            <div class="input-group col-lg-4 col-md-6 col-sm-12 pull-right">
                <select id="ddlCategorySearch" class="form-control">
                    <option>-- Select category --</option>
                </select>
            </div>
        </section>
    </div>
</header>
<!-- /page title -->
<div class="clearfix"></div>
<!-- page content -->
<main class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            @*<div class="x_title">
                    <h2>Products<small>List of all products</small></h2>
                    <div class="clearfix"></div>
                </div>*@
            <div class="x_content">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Image</th>
                            <th>Created</th>
                            <th>Status</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody id="tbl-content"></tbody>
                </table>
                <!--Pagination-->
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="datatable-checkbox-info" role="status" aria-live="polite">
                            <select id="ddlShowPage">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">
                                bản ghi/trang.
                            </span>
                            <br />
                            Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox-paginate">
                            <ul id="paginationUL"></ul>
                        </div>
                    </div>
                </div>
                <!-- /Pagination-->
            </div>
        </div>
    </div>
</main>
<!-- /page content -->
<div class="clearfix"></div>
<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>{{Name}}</td>
        <td>{{CategoryName}}</td>
        <td>{{Price}}</td>
        <td class="text-center">{{{Image}}}</td>
        <td>{{CreatedDate}}</td>
        <td class="text-center">{{{Status}}}</td>
        <th scope="row" class="text-center">
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default btn-edit" data-id="{{Id}}" data-date-created="{{CreatedDate}}"><i class="fa fa-pencil-square-o"></i></button>
                <button type="button" class="btn btn-danger btn-delete" data-id="{{Id}}" data-name="{{Name}}"><i class="fa fa-trash-o"></i></button>
            </div>
        </th>
    </tr>
</script>
<partial name="_AddEditModal.cshtml" />

