
@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TeduCoreApp Admin | @ViewData["Title"] </title>
    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/lib/nprogress/nprogress.css" rel="stylesheet" />
    <!-- Animate.css -->
    <link href="~/lib/animate.css/animate.css" rel="stylesheet" />
    <!--NotifyJS-->
    <link href="~/lib/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/admin-side/css/custom.css" rel="stylesheet" />
</head>

<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <div class="login_content">
                    <form id="frm-login">
                        @Html.AntiForgeryToken()
                        <h1>Login</h1>
                        <div>
                            <input id="txt-user-name-modal" name="username" type="text" class="form-control" placeholder="Username" />
                        </div>
                        <div>
                            <input id="txt-password-modal" name="password" type="password" class="form-control" placeholder="Password" />
                        </div>
                        <div>
                            <button id="btn-login" class="btn btn-default submit">Log in</button>
                            <a class="reset_pass" href="#">Lost your password?</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <h1><i class="fa fa-paw"></i> TeduCore Shop</h1>
                            <p>&copy; @DateTime.Now.Year  All Rights Reserved - TeduCoreApp</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!--NotifyJS-->
    <script src="~/lib/notifyjs/dist/notify.js"></script>
    <script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
    <!--Bootbox-->
    <script src="~/lib/bootbox/bootbox.js"></script>
    <!--jquery-validation-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    @*<script src="~/lib/jquery-validation/src/localization/messages_vi.js"></script>*@
    <!--jquery-validation-unobtrusive-->
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
    <!--Tedu-->
    <script src="~/app/shared/tedu.js"></script>
    <!--Login Controller-->
    <script src="~/app/controllers/login/index.js"></script>
    <script>
        var login = new loginController();
        login.initialize();
    </script>
</body>
</html>

