@using Microsoft.AspNetCore.Identity
@using TeduCoreApp.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <img src="@User.GetSpecificClaim("Avatar")" alt="">@User.GetSpecificClaim("FullName")
    <span class=" fa fa-angle-down"></span>
</a>
<ul class="dropdown-menu dropdown-usermenu pull-right">
    <li><a href="javascript:;"> Profile</a></li>
    <li>
        <a href="javascript:;">
            <span class="badge bg-red pull-right">50%</span>
            <span>Settings</span>
        </a>
    </li>
    <li><a href="javascript:;">Help</a></li>
    <li>
        <a href="javascript:;" id="btnLogout"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
        <form action="/Admin/Account/Logout" method="post" id="frmLogout">
            @Html.AntiForgeryToken()
            @*<button type="submit" class="btn btn-link">Log out</button>*@
        </form>
    </li>
    <li>@*<a href="javascript:;" ><i class="fa fa-sign-out pull-right"></i> Log Out</a>*@</li>
</ul>
<script>   
    window.addEventListener("DOMContentLoaded", function () {
        var form = document.getElementById("frmLogout");
        document.getElementById("btnLogout").addEventListener("click", function () {
            form.submit();
        });
    });
</script>
